<%# CSS・・・assets/stylesheets/spot/show.css %>
<!-- 共通ヘッダーを読み込む -->
<%= render 'shared/header' %>

<div class="wrapper">
  <div class="chanel">
    <div class="spot-detail">
      <div class="spot-name">
        <%= @spot.name %>
      </div>
      <div class="spot-text">
        <%= @spot.text %>
      </div>
      <div class="spot-address">
        <%= @spot.address %>
      </div>
      <div id="map"></div>
    </div>
  </div>
</div>

