<%# CSS・・・assets/stylesheets/group/index.css %>
<!-- 共通ヘッダーを読み込む -->
<%= render 'shared/header' %>
<div class="wrapper">
  <%# サイドバー %>
  <div class="chanel">
    <div class="groups">
      <%# @groups.each do |group| %>
        <div class="group">
          <%= link_to 'group.name', 'group_path(group)', class:"group-name" %>
        </div>
      <%# end %>
    </div>
  </div>
</div>
