<%# CSS・・・assets/stylesheets/group/index.css %>
<!-- 共通ヘッダーを読み込む -->
<%= render 'shared/header' %>

<div class="wrapper">
  <div class="chanel">
    <div class="groups">
      <%# @groups.each do |group| %>
        <div class="group">
          <div class="group-name">
            ○<%= link_to '#', class: "group-name" do %>
              グループ名 <!-- ここに本来は group.name が入ります -->
            <% end %>
          </div>
          <div class="group-text">
            グループの説明 <!-- ここに本来は group.text が入ります -->
          </div>
        </div>
      <%# end %>
    </div>
  </div>
</div>
