<%= render 'shared/header' %>

<div class="user-details-container">
  <%= link_to @user.name, edit_user_path(@user), class: "user-edit" %>

  <h2>達成率</h2>

  <div class="group-completion-charts">
    <% @group_completion_rates.each do |group_name, completion_rate| %>
      <div class="group-completion-chart">
        <% colors = completion_rate == 100 ? ["#FFD700", "transparent"] : ["#4CAF50", "transparent"] %>
        <%= pie_chart [["達成", completion_rate], ["未達成", 100 - completion_rate]], donut: true, width: "150px", height: "150px", colors: colors, legend: false %>
        <h3><%= group_name %></h3>
      </div>
    <% end %>
  </div>
</div>
