/* サイドバー */
.groups {
  margin: 5px;
}

.group {
  padding: 5px;
  margin-bottom: 10px;
}

.group-text {
  font-size: 20px;
  padding: 5px;
}

/* 達成率 */
.completion-rate {
  font-size: 16px;
  color: darkslategray;
  margin-left: 10px;
}
