/* サイドバー */
.groups {
  margin: 5px;
}

.group {
  padding: 5px;
  margin-bottom: 10px;
}

.group-text {
  font-size: 20px;
  padding: 5px;
}

/* 名前フォント */
.group-name {
  color: darkslategray;
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

.group-name:hover {
  color: orangered;
}

/* スマートフォン用のスタイル */
@media (max-width: 600px) {
  .groups {
    margin: 5px;
    padding: 0;
  }

  .group {
    padding: 10px;
    margin-bottom: 15px;
  }

  .group-text {
    font-size: 16px;
  }

  /* 名前フォント */
  .group-name {
    font-size: 24px;
  }

  /* 達成率を縦並びへ */
  .group-name-container {
    display: flex;
    flex-direction: column;
  }
}
