.wrapper {
  display: flex;
}

/* サイドバー親 */
.chanel {
  background-color: white;
  width: 100vw;
  height: 95vh;
  padding: 20px;
}

/* サイドバー */
.groups {
  margin: 5px;
}

.group {
  padding: 5px;
  margin-bottom: 10px;
}

.group-name {
  color: darkslategray;
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

.group-text {
  font-size: 20px;
  padding: 5px;
}
