/* グループ詳細 */
.group-detail {
  margin: 20px;
}

.group-group-name {
  display: flex;
  align-items: center;
  color: darkslategray;
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

.group-creator {
  font-size: 18px;
  padding: 5px;
}

.group-text {
  font-size: 20px;
  padding: 10px;
}

/* スポットリストのスタイル */
.group-spots {
  margin-top: 20px;
}

/* スポット一覧を横並びに */
.spot-list {
  display: flex;
  flex-wrap: wrap; /* 必要に応じて次の行に折り返す */
  gap: 30px; /* 要素間のスペースを指定 */
}

.group-spot-names {
  font-size: 25px;
  font-weight: bold;
  color: darkslategray;
  margin-bottom: 10px;
}

.group-spot-name {
  font-size: 25px;
  font-weight: bold;
  color: darkslategray;
  text-decoration: underline;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
}

.group-spot-name:hover {
  color: orangered;
}

/* スマートフォン用のスタイル */
@media (max-width: 600px) {
  .group-detail {
    margin: 10px;
  }

  .group-group-name {
    font-size: 24px;
    flex-direction: column;
    align-items: flex-start;
  }

  .completion-rate {
    font-size: 16px;
    margin-left: 0;
    margin-top: 5px;
  }

  .group-creator {
    font-size: 16px;
    padding: 5px;
  }

  .group-text {
    font-size: 16px;
    padding: 5px;
  }

  .group-spots {
    margin-top: 15px;
  }

  .spot-list {
    display: block;
  }

  .group-spot-names {
    font-size: 20px;
  }

  .group-spot-name {
    font-size: 20px;
  }
}
