/* グループ詳細 */
.group-detail {
  margin: 20px;
}

.group-creator {
  font-size: 18px;
  padding: 5px;
}

.group-text {
  font-size: 20px;
  padding: 10px;
}

/* スポットリストのスタイル */
.group-spots {
  margin-top: 20px;
}
/* スポット一覧を横並びにする */
.spot-list {
  display: flex;
  flex-wrap: wrap; /* 必要に応じて次の行に折り返す */
  gap: 10px; /* 要素間のスペースを指定 */
}

.group-spot-names {
  font-size: 25px;
  font-weight: bold;
  color: darkslategray;
  text-decoration: underline;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
}

#map {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  border: 1px solid darkgray;
  border-radius: 8px;
}

