.spot-detail {
  margin: 5px;
}

.group-spot-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* スマートフォンで縦方向に */
  gap: 10px;
  margin-bottom: 15px;
}

.spot-name {
  color: darkslategray;
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

.group-spot-name {
  color: darkslategray;
  font-size: 25px;
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
  border-bottom: 2px solid darkslategray;
  transition: color 0.3s, border-color 0.3s;
}

.group-spot-name:hover {
  color: orangered;
  border-color: orangered;
}

.spot-text {
  font-size: 20px;
  padding: 5px;
}

.spot-address {
  font-size: 18px;
  padding: 5px;
}

/* ボタンのスタイル */
.spot-buttons {
  display: flex;
  justify-content: center;
}

/* ボタンのスタイル */
.btn-visited {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  background-color:  darkslategray; /* イッタボタンのデフォルト色 */
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn-visited.visited {
  background-color: rgba(47, 79, 79, 0.786); /* コレカラボタンの色 */
}

.btn-visited:hover {
  background-color: darkgray;
}

/* スマートフォン用のスタイル */
@media (max-width: 600px) {
  .spot-detail {
    margin: 10px;
  }

  .group-spot-title {
    gap: 5px;
  }

  .spot-name {
    font-size: 20px;
  }

  .group-spot-name {
    font-size: 16px;
    padding: 5px 0;
  }

  .spot-text {
    font-size: 16px;
    padding: 5px 0;
  }

  .spot-address {
    font-size: 16px;
    padding: 5px 0;
  }
}
