.spot-detail {
  margin: 5px;
}

.group-spot-title {
  display: flex;
  align-items: center; /* 垂直方向のセンタリング */
  gap: 10px; /* 要素間のスペース */
  margin-bottom: 15px;
}

.spot-name {
  color: darkslategray;
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

.group-spot-name {
  color: darkslategray;
  font-size: 25px;
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
  border-bottom: 2px solid darkslategray;
  transition: color 0.3s, border-color 0.3s;
}

.group-spot-name:hover {
  color: orangered;
  border-color: orangered;
}

.spot-text {
  font-size: 20px;
  padding: 5px;
}

.spot-address {
  font-size: 18px;
  padding: 5px;
}

/* ボタンのスタイル */
.spot-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* 中央寄せ */
}
