/* ヘッダーのスタイル */
.top-page-header {
  width: 100vw;
  height: 5vh;
  background-color: darkslategray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid white;
}

.bar {
  align-items: center;
}

.app-name {
  display: inline-block;
  color: white;
  font-size: 3.5dvh;
  font-weight: 1000;
  text-decoration: none;
  margin-left: 2vw;
}

.nav {
  width: 20vw;
}

.lists-right {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 4px;
}

.user-name, .logout, .login, .sign-up {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: orangered;
  padding: 4px;
  border-radius: 10px;
}
