/* アカウントページ全体のスタイル */
.account-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  height: 95vh;
}

.account-page__inner {
  width: 80%;
  max-width: 1200px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account-page__inner--left {
  width: 50%;
}

.account-page__inner--right {
  width: 50%;
}

.account-page__inner::after {
  content: "";
  display: table;
  clear: both;
}

.account-page__header h2 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 40px;
  font-weight: 200;
  color: darkslategray;
}

.account-page__header h5 {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 200;
  color: darkslategray;
}

.account-page .btn {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
  background-color: green;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.account-page .btn:hover {
  background-color: darkgreen;
}

.account-page .field {
  margin-bottom: 20px;
}

.account-page .field .field-label {
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 200;
  color: darkslategray;
}

.account-page .field .field-input input {
  width: 100%;
  padding: 10px;
  letter-spacing: 1px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* エラーメッセージのスタイル */
#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #f8d7da;
}

#error_explanation h2 {
  margin-bottom: 10px;
  color: #721c24;
  font-size: 14px;
}

#error_explanation ul {
  margin: 0;
  padding-left: 17px;
  list-style: square;
}

#error_explanation li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

/* ユーザー詳細ページ */
.user-details-container {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-details-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.user-details-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.user-details-container .group-completion-chart {
  margin-bottom: 40px;
}

.user-details-container .group-completion-chart h3 {
  text-align: center;
  margin-bottom: 10px;
}

.user-groups-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.user-groups-table th,
.user-groups-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.user-groups-table th {
  background-color: #f2f2f2;
  color: #333;
}

.user-groups-table tr:hover {
  background-color: #f5f5f5;
}

/* ユーザー編集ボタン */
.user-edit {
  color: darkslategray;
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

.user-edit:hover {
  color: orangered;
}